/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color:green;
  }

body {
    font-family: Arial;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    color : orangered;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .daftarbutton {
    background-color: green;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }